body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 5px;
  outline: none;
  box-shadow: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  outline: none;
  box-shadow: none;
} 